<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#" title="IOC Extractor">
    <i class="fas fa-bug"></i>
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent"
    [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/help" routerLinkActive="active">Help</a>
    </div>
    <div class="navbar-nav ml-auto my-auto" *ngIf="router.url==='/home'">    
      <div class="nav-item mr-2">
        <form #fileForm="ngForm">
            <span class="navbar-text mr-3" 
              style="padding-top: 0px; padding-bottom: 0px; font-size: 0.83rem"
              *ngIf="loadedFile">
                Loaded: {{ loadedFile.name | truncatefilename:20:'..' }}
            </span>
            <label class="btn btn-sm btn-primary btn-file">
              Load&nbsp;&nbsp;<i class="fas fa-file"></i>
              <input id="fileInput" 
                name="fileInput"
                type="file"
                placeholder="Load File" 
                aria-label="Load File" 
                (change)="onFileLoad($event)"
                required
                ngModel
                #fileInput="ngModel"
                style="display: none;">
            </label>
        </form>
      </div>
      <div class="nav-item dropdown my-sm-0" ngbDropdown>
        <button 
          class="btn btn-sm btn-success" 
          id="navbarDropdown" 
          role="button" 
          type="button" 
          aria-haspopup="true" 
          [attr.aria-expanded]="!isCollapsed"
          [disabled]="!(hasContent() | async)" ngbDropdownToggle>
          <i class="fas fa-download"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" (click)="onExportAsCsv()">Export as CSV</a>
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item disabled" disabled="true" (click)="onExportAsStix()">Export as STIX</a> -->
          <span class="dropdown-item-text">Other formats (soon)</span>
        </div>
        <div class="btn-group">
          <button 
            class="btn btn-sm btn-secondary" 
            role="button" 
            type="button"
            title="Reload current file"
            aria-label="Reload current file"
            [disabled]="!(isFileLoaded() | async)"
            (click)="onReload()">
            <i class="fas fa-sync-alt"></i>
            <i class="fas fa-file"></i>
          </button>
          <button 
            class="btn btn-sm btn-secondary" 
            role="button" 
            type="button"
            title="Process editor contents"
            aria-label="Process editor contents"
            [disabled]="!( hasContent() | async )"
            (click)="onReloadContents()">
            <i class="fas fa-sync-alt"></i>
            <i class="fas fa-edit"></i>
          </button>
          <button 
            class="btn btn-sm btn-danger"
            role="button"
            type="button"
            aria-label="Close"
            [disabled]="!(isFileLoaded() | async)"
            (click)="onClose()">
            <i class="far fa-window-close"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
