<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <span class="h6">Legend: </span>
        </div>
        <div class="col-md-6 text-nowrap">
          <span class="ioc-ip-true">
            <i class="fas fa-map-marker"></i> IP</span>
            <span class="ioc-url-true">
            <i class="fas fa-globe"></i> URL</span>
            <span class="ioc-email-true">
            <i class="fas fa-envelope"></i> Email</span>
            <span class="ioc-hostname-true">
            <i class="fas fa-server"></i> Host</span>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<quill-editor 
  #editor 
  [modules]="quillModules"
  [theme]="'bubble'"
  placeholder="Load a file or input some text!" 
  (onEditorCreated)="onEditorReady($event)">
  <div quill-editor-toolbar>
    <span class="ql-formats">
      <button class="ql-ip" title="IP">
          <i class="fas fa-map-marker"></i>
      </button>
    </span>
    <span class="ql-formats">
      <button class="ql-url" title="URL">
          <i class="fas fa-globe"></i>
      </button>
    </span>
    <span class="ql-formats">
      <button class="ql-email" title="Email">
        <i class="fas fa-envelope"></i>
      </button>
    </span>
    <span class="ql-formats">
      <button class="ql-hostname" title="Hostname">
          <i class="fas fa-server"></i>
        </button>
    </span>
  </div>
</quill-editor>
