/* You can add global styles to this file, and also import other style files */
/* main bootstrap */
// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Quill themes */
@import "../node_modules/quill/dist/quill.core.css";
// @import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/quill/dist/quill.bubble.css";

/* Fontawesome */
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';

/* Need to put these here otherwise ViewEncapsulation screws things up */
.ql-editor {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ql-bubble .ql-tooltip {
    // override background color for tooltip in bubble
    @extend .bg-dark;
}

.ql-formats button {
    color: white;
}

.ql-formats button:hover {
    @extend .text-muted;
}

span.ioc-url-true {
    @extend .bg-success;
    color: white;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 1em;
}

span.ioc-ip-true {
    @extend .bg-primary;
    color: white;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 1em;
}

span.ioc-email-true {
    @extend .bg-secondary;
    color: white;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 1em;
}

span.ioc-hostname-true {
    @extend .bg-danger;
    color: white;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 1em;
}