<div class="container">
  <div class="row">
    <div class="col-xs-10" appMarked>
# <i class="fas fa-bug"></i> IOC Extractor

Written in [<i class="fab fa-angular" style="color:black"></i>](http://angular.io) and inspired by the work of Stephen Brannon: https://github.com/stephenbrannon/IOCextractor.

IOC Extractor exists to help extract [Indicators of Compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise)
from text documents. At some point soon it might do other formats such as PDF and Excel sheets as well. 
Upon loading a file, the contents will be compared against a set of regular expressions to attempt to
auto-identify entities such as hostnames, IP addresses, e-mail addresses and URLs.

#### <label class="btn btn-sm btn-primary btn-file">Load&nbsp;&nbsp;<i class="fas fa-file"></i></label> Load a file

Files can be loaded from the local disk. At the moment only text files are supported.
The file is loaded into the local browser, it is _not_ uploaded to a remote server. It will be automatically
processed on load.

#### <label class="btn btn-sm btn-success dropdown-toggle"><i class="fas fa-download"></i></label> Export

Export the identified IOCs. Below is an example of the CSV output.

```
ip,192.168.1.102
hostname,www.somethingbad.com
email,badguy@somethingbad.com
url,http://www.example.com/dodgyscript.js
```

#### <label class="btn btn-sm btn-secondary"><i class="fas fa-sync-alt"></i> <i class="fas fa-file"></i></label> Reprocess selected file

If a file has been loaded into the editor, this button allows the user to reload the file and reprocess it to
start afresh. This will discard any changes they have made to the contents of the editor.

#### <label class="btn btn-sm btn-secondary"><i class="fas fa-sync-alt"></i> <i class="fas fa-edit"></i></label> Reprocess editor contents

If the user wants to reprocess the contents of the editor, without discarding any changes to the content. This may
be useful if the user has copy-pasted content into the editor instead of loading a file.

#### <label class="btn btn-sm btn-danger"><i class="far fa-window-close"></i></label> Close

Close the opened file.

    </div>
  </div>
</div>
